.chessboard {
    width: 501px;
    height: 501px;
    font-size: large;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    margin-left: 25%;
    margin-top: 10px;
    position: absolute;
}

h3{
    color: white;
    padding: 0 0 3px 0;
    margin: 5px 40%;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    width: 180px;
    text-align: center;
}
